<html>
    <head>
        <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="http://cdn.rawgit.com/donmccurdy/aframe-extras/v3.7.0/dist/aframe-extras.min.js"></script>
        <script src="https://cdn.rawgit.com/zcanter/aframe-gradient-sky/master/dist/gradientsky.min.js"></script>
    </head>
    <body>

    <audio id="beep">
      <source src="assets/sound/beep.wav" type="audio/wav" />
    </audio>

    <a-scene fog="type: linear; near: 2; far: 50; color: #000a1c">

      <!-- Plane -->
      <a-plane rotation= "-90 0 0" position= "0 -0.3 0" color="#000" height="100%" width="100%"></a-plane>

      <!-- Trees -->
      <a-entity>
        <a-collada-model scale= "2.0 2.15 2.0" rotation= "0 70 0" src="static/trees.dae" position="0 0.25 0" rotation="0 180 0" > </a-collada-model>
      </a-entity>

      <!-- Ocean -->
      <a-ocean height="100%" width="100%" depth="50" density="40" opacity="0.9" position="0 0.25 0"></a-ocean>

      <!-- Sky -->
      <a-gradient-sky material="shader: gradient; topColor: 0 16 40; bottomColor: 35 7 18;"></a-gradient-sky>

      <!-- Lighting -->
      <a-light type="ambient" intensity="0.5" color="#ccc"></a-light>
      <a-light color="#ED7140" distance="100" intensity="0.4" type="point"></a-light>
      <a-light color="#ED7140" position="3 10 -10" distance="50" intensity="0.4" type="point"></a-light>

      <a-entity>
        <a-collada-model
            scale= "0.5 0.5 0.5"
            rotation= " 0 70 0"
            src="static/Rock1.dae"
            v-bind:position="spherePositionAttr"
            rotation="0 180 0"
            >  </a-collada-model>
      </a-entity>

      </a-scene>
    </body>

<script>

Vue.config.delimiters = ["${", "}"];

  new Vue({
    el: 'body',
    data: {
      sphere: {
        position: {
          alpha: 0,
          beta: 0,
          gamma: 0
        }
      },
      plane: {
        dimensions: {
          width: 4,
          height: 4
        }
      },
      sounds: {
        score: new Audio('../static/beep.mp3')
      },
      playedScoreSound : false,
    },
    computed: {
      spherePositionAttr () {
        const pos = this.sphere.position;
        return `0 ${pos.beta} 0`;
      }
    },
    watch: {
      'sphere.position.beta': function(threshold){
        //console.log("threshold " + threshold);
        if(threshold > 2.0){
          if(!this.playedScoreSound){
            this.sounds.score.play()
            this.playedScoreSound = true;
          }
        } else{
          this.playedScoreSound = false;
        }
      }

    },
    ready () {

      var obj = {};

      var socket = io.connect("ws://dev.txtpen.com:5000/vr");
      var onevent = socket.onevent;

      socket.onevent = function (packet) {
          var args = packet.data || [];
          onevent.call (this, packet);    // original call
          packet.data = ["*"].concat(args);
          onevent.call(this, packet);      // additional call to catch-all
      };

      socket.on('*', (data)=>{
        obj = JSON.parse(data);
        console.log(obj.me);
        this.sphere.position.alpha = obj.alpha;
        // var posY = (obj.beta / 30) + 0.5;
        // this.sphere.position.beta = posY < 0 ? 0 : posY;
        this.sphere.position.beta = obj.beta / 30;
        this.sphere.position.gamma = obj.gamma;
      });
    },
  })
</script>

</html>
