<html>
    <head>
        <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/plugins/BezierPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    </head>
    <body>
    <a-scene fog="type: linear; near: 2; far: 25; color: white">

	    <a-plane rotation= "-90 0 0" position= "0 -.2 0" color="#94a550" height="100" width="100"></a-plane>

        <a-entity>
          <a-collada-model scale= "2.0 2.15 2.0" rotation= " 0 70 0" src="static/trees.dae" position="0 -0.09 0" rotation="0 180 0" > </a-collada-model>  
        </a-entity>

        <a-entity>
          <a-collada-model
              scale= "0.5 0.5 0.5" 
              rotation= " 0 70 0" 
              src="static/Rock1.dae" 
              v-bind:position="spherePositionAttr"
              rotation="0 180 0" 
              >  </a-collada-model>  
        </a-entity>

      </a-scene>
    </body>

<script>

Vue.config.delimiters = ["${", "}"];

  new Vue({
    el: 'body',
    data: {
      sphere: {
        position: {
          alpha: 0,
          beta: 0,
          gamma: 0
        }
      },
      plane: {
        dimensions: {
          width: 4,
          height: 4
        }
      },
      sounds: {
        score: new Audio('../static/beep.mp3')
      },
      playedScoreSound : false,
    },
    computed: {
      spherePositionAttr () {
        const pos = this.sphere.position;
        return `0 ${pos.beta} 0`;
      }
    },
    watch: {
      'sphere.position.beta': function(newBeta){
        if(newBeta > 0.5){
          if(!this.playedScoreSound){
            this.sounds.score.play()
            this.playedScoreSound = true;
          }
        } else{
          this.playedScoreSound = false;
        }
      }

    },
    ready () {

      var obj = {};

      var socket = io.connect("ws://dev.txtpen.com:5000/acc");
      var onevent = socket.onevent;

      socket.onevent = function (packet) {
          var args = packet.data || [];
          onevent.call (this, packet);    // original call
          packet.data = ["*"].concat(args);
          onevent.call(this, packet);      // additional call to catch-all
      };

      socket.on('*', (data)=>{
        obj = JSON.parse(data);
        console.log(obj);
        this.sphere.position.alpha = obj.alpha;
        this.sphere.position.beta = obj.beta / 45;
        this.sphere.position.gamma = obj.gamma;
      });
      // TweenMax.to(this.sphere.position, 1, {bezier:[{x:1, y:1}, {x:0, y:2}, {x:-1, y:1}, {x:0, y:0}, {x:1, y:1}], ease:Linear.easeNone, repeat: -1});
    },
  })
</script>

</html>
