<html>
    <head>
        <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="http://cdn.rawgit.com/donmccurdy/aframe-extras/v3.7.0/dist/aframe-extras.min.js"></script>
        <script src="https://cdn.rawgit.com/zcanter/aframe-gradient-sky/master/dist/gradientsky.min.js"></script>
    </head>
    <body>

      <audio autoplay loop id="backgroundSound">
        <source src="static/ocean.mp3" type="audio/mpeg"> Your browser does not support audio
      </audio>

      <audio autoplay loop id="backgroundSound">
        <source src="static/tune-1.mp3" type="audio/mpeg"> Your browser does not support audio
      </audio>

      <!-- Scene -->
      <a-scene fog="type: linear; near: 2; far: 50; color: #000a1c">

      <!-- Plane -->
      <a-plane rotation= "-90 0 0" position= "0 -0.3 0" color="#000" height="100%" width="100%"></a-plane>

      <!-- Trees -->
      <a-entity>
        <a-collada-model scale= "2.0 2.15 2.0" rotation= "0 70 0" src="static/trees.dae" position="0 0.25 0" rotation="0 180 0" > </a-collada-model>
      </a-entity>

      <!-- Ocean -->
      <a-ocean height="100%" width="100%" depth="50" density="40" opacity="0.9" position="0 0.25 0"></a-ocean>

      <!-- Sky -->
      <a-gradient-sky material="shader: gradient; topColor: 0 16 40; bottomColor: 35 7 18;"></a-gradient-sky>

      <!-- Lighting -->
      <a-light type="ambient" intensity="0.5" color="#ccc"></a-light>
      <a-light color="#ED7140" distance="100" intensity="0.4" type="point"></a-light>
      <a-light color="#ED7140" position="3 10 -10" distance="50" intensity="0.4" type="point"></a-light>

      <lift-rock :playerNum="1" :alpha="rock1.alpha" :beta="rock1.beta" :gamma="rock1.gamma" :horizontal_pos="rock1.horizontal_pos"></lift-rock>
      <lift-rock :playerNum="2" :alpha="rock2.alpha" :beta="rock2.beta" :gamma="rock2.gamma" :horizontal_pos="rock2.horizontal_pos"></lift-rock>

      <!-- Camera -->
      <a-entity position="0 0 10">
        <a-camera></a-camera>
      </a-entity>

      </a-scene>
    </body>

<script>

/* Audio */
var audio = document.getElementById("backgroundSound");
audio.volume = 0.3;

/* Vue */

Vue.config.delimiters = ["${", "}"];

Vue.component('lift-rock', {
  props:['playerNum','alpha','beta','gamma','horizontal_pos'],
  template: `
      <a-entity>
        <a-collada-model
            scale= "0.5 0.5 0.5"
            rotation= "0 0 0"
            src="static/Rock1.dae"
            v-bind:position="spherePositionAttr"
            rotation="0 180 0"
            >  </a-collada-model>
      </a-entity>
  `,
  data: function(){
    return {
      sounds: {
        score: new Audio('../static/beep.mp3'),
        splash: new Audio('../static/splash.mp3'),
      },
      playedScoreSound : false,
      playedSplashSound : false,
    }
  },
  computed: {
    spherePositionAttr: function () {
      console.log(this)
      console.log(this.beta)
      console.log(this.horizontal_pos)

      return this.horizontal_pos + ' ' + this.beta + ' ' + 4;
    }
  },
  watch: {
    beta: function(threshold){
      console.log("THRESHOLD " + threshold);
      /* play splash when r\each ocean */
      if(threshold < 0.3) {
        if(!this.playedSplashSound){
          this.sounds.splash.play()
          this.playedSplashSound = true;
        }
      } else {
        this.playedSplashSound = false;
      }

      /* play scored sound when reach high level */
      if(threshold > 2.0){
        if(!this.playedScoreSound){
          this.sounds.score.play()
          this.playedScoreSound = true;
        }
      } else{
        this.playedScoreSound = false;
      }
    }

  },
})

  new Vue({
    el: 'body',
    data: {
      plane: {
        dimensions: {
          width: 4,
          height: 4
        }
      },
      rock1 : {
        alpha: 0,
        beta: 0,
        gamma: 0,
        horizontal_pos: 0,
      },
      rock2 : {
        alpha: 0,
        beta: 0,
        gamma: 0,
        horizontal_pos: 2,
      }
    },

    ready () {
      var obj = {};

      var socket = io.connect("ws://dev.txtpen.com:5000/sensor");
      var onevent = socket.onevent;

      socket.onevent = function (packet) {
          var args = packet.data || [];
          onevent.call (this, packet);    // original call
          packet.data = ["*"].concat(args);
          onevent.call(this, packet);      // additional call to catch-all
      };

      socket.on('*', (obj)=>{
        console.log(obj);

        if (obj.me == 'a'){
          this.rock1.alpha = obj.alpha;
          // var posY = (obj.beta / 30) + 0.5;
          // this.sphere.position.beta = posY < 0 ? 0 : posY;
          this.rock1.beta = obj.beta / 30;
          this.rock1.gamma = (1 - obj.gamma) / 10;
          this.rock1.horizontal_pos = 0;
        } else{
          this.rock2.alpha = obj.alpha;
          // var posY = (obj.beta / 30) + 0.5;
          // this.sphere.position.beta = posY < 0 ? 0 : posY;
          this.rock2.beta = obj.beta / 30;
          this.rock2.gamma = (1 - obj.gamma) / 10;
          this.rock2.horizontal_pos = 2;
        }
      });
    },
  })
</script>

</html>
